@font-face {
    font-family: reg;
    src: url(fonts/sf-pro-text_regular.ttf);
  }
  
  @font-face {
    font-family: sb;
    src: url(fonts/sf-pro-text_semibold.ttf);
  }
  
  @font-face {
    font-family: tbo;
    src: url(fonts/sf-pro-text_semibold.ttf);
  }

  :root {
  --white: #fff;
  --black:#000;
  --grey: #F5F5F7;
  --text: #6E6E73;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: var(--grey);
}
#page1 {
  height: 100vh;
  width: 100vw;
}


#page1 {
    height: 95vh;
    width: 100vw;
    background-color: var(--grey);
    display: flex;
    position: relative;
    
    /* background-color: rebeccapurple; */
    overflow: hidden;
  
  
}
nav {
    position: fixed;
    height: 8vh;
    width: 100vw;
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    z-index: 99;
  }
  nav i{
    font-size: 1vw;
  }
  
  nav>a {
    text-decoration: none;
    font-family: 'reg';
    color: var(--text);
    font-size: 1.7vh;
    font-weight: 600;
    
  }
  
  #page1 #dis-sec{
    position: absolute;
    top: 10%;
    height: 7vh;
    width: 100vw;
    background-color: var(--white);
    z-index: 109;
  }
  #page1 #dis-sec sup{
   font-size: 1vh;
  }
  p{
    font-family: 'reg';
    font-size:1.9vh ;
    text-align: center;
  }
  p span{
    color: #0066CC;
  }

  #hero-sec{
    position: relative;
    top: 15%;
    height: 85vh;
    width: 100vw;
  }

  #hero-sec img{
    position: absolute;
    height: 80vh;
    width: 100vw;
    overflow: hidden;
  }
#hero-sec h2{
    position: absolute;
    top: 10%;
    left: 40%;
    color: var(--white);
    font-family: 'reg';
    font-size: 4vw;
  }
#hero-sec h3{
    position: absolute;
    top: 23%;
    left: 37%;
    color: var(--white);
    font-family: 'reg';
    font-size: 1.8vw;
    font-weight: 400;
}
#hero-sec #link1{
    position: absolute;
    top: 33%;
    left: 45%;
    color: #2486E2;
    font-family: 'reg';
    font-size:1.4vw;
    font-weight: 400;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

#hero-sec #link2{
    position: absolute;
    top: 33%;
    left: 57%;
    color: #2486E2;
    font-family: 'reg';
    font-size:1.4vw;
    font-weight: 400;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}
a:hover{
    scale: 1.2;

}

#page2{
    height: 80vh;
    width: 100vw;
    position: relative;
}

#page2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#page2 h2{
    position: absolute;
    top: 10%;
    left: 43%;
    color: var(--black);
    font-family: 'reg';
    font-size: 4vw;
}
#page2 h3{
    position: absolute;
    top: 23%;
    left: 37%;
    color: var(--black);
    font-family: 'reg';
    font-size: 1.8vw;
    font-weight: 400;
}
#page2 #link1{
    position: absolute;
    top: 33%;
    left: 45%;
    color: #2486E2;
    font-family: 'reg';
    font-size:1.4vw;
    font-weight: 400;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}
#page2 #link2{
    position: absolute;
    top: 33%;
    left: 57%;
    color: #2486E2;
    font-family: 'reg';
    font-size:1.4vw;
    font-weight: 400;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}


#page3{
    height: 80vh;
    width: 100vw;
    position: relative;
}

#page3 video{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}



#page4{
    height: 80vh;
    width: 100vw;
    position: relative;
}

#page4 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#page4 h2{
    position: absolute;
    top: 10%;
    left: 43%;
    color: var(--white);
    font-family: 'reg';
    font-size: 4vw;
}
#page4 h4{
    position: absolute;
    top: 23%;
    left: 49%;
    color: #fe2727;
    font-family: 'reg';
    font-size: 1.2vw;
    letter-spacing: 5px;
    font-weight: 400;
    text-transform: uppercase;
}
#page4 h3{
    position: absolute;
    top: 28%;
    left: 40%;
    color: var(--white);
    font-family: 'reg';
    font-size: 1.8vw;
    font-weight: 400;
}
#page4 #link1{
    position: absolute;
    top: 36%;
    left: 45%;
    color: #2486E2;
    font-family: 'reg';
    font-size:1.3vw;
    font-weight: 400;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}
#page4 #link2{
    position: absolute;
    top: 36%;
    left: 57%;
    color: #2486E2;
    font-family: 'reg';
    font-size:1.3vw;
    font-weight: 400;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

#page5{
    height: 210vh;
    width: 100vw;
    background-color: var(--grey);
    position: relative;
    
}

#page5 #top-sec{
    position: relative;
    height: 70vh;
    width: 100vw;
    display: flex;

    justify-content: space-between;

}
#page5 #top-sec #tleft{
    position: relative;
    height: 70vh;
    width: 50vw;


}
#page5 #top-sec #tleft img{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page5 #top-sec #tleft #logo{
    position: absolute;
    height: 10%;
    width: 60%;
    object-fit: contain;
    top: 8%;
    left: 18%;
z-index: 99;
}
#page5 #top-sec #tleft  h2{
    position: absolute;
    top: 10%;
    left: 43%;
    color: var(--black);
    font-family: 'reg';
    font-size: 4vw;
}
#page5 #top-sec #tleft  h3{
    position: absolute;
    top: 23%;
    left: 35%;
    color: var(--black);
    font-family: 'reg';
    font-size: 1.5vw;
    font-weight: 400;
}
#page5 #top-sec #tleft  #link1{
    position: absolute;
    top: 33%;
    left: 37%;
    color: #2486E2;
    font-family: 'reg';
    font-size:1.2vw;
    font-weight: 400;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}
#page5 #top-sec #tleft  #link2{
    position: absolute;
    top: 33%;
    left: 57%;
    color: #2486E2;
    font-family: 'reg';
    font-size:1.2vw;
    font-weight: 400;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}
#page5 #top-sec #tright{
    position: relative;
    height: 70vh;
    width: 50vw;


}
#page5 #top-sec #tright img{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page5 #top-sec #tright #logo{
    position: absolute;
    height: 10%;
    width: 60%;
    object-fit: contain;
    top: 8%;
    left: 18%;
z-index: 99;
}

#page5 #top-sec #tright  h3{
    position: absolute;
    text-align: center;
    top: 22%;
    left: 35%;
    color: var(--black);
    font-family: 'reg';
    font-size: 1.5vw;
    font-weight: 400;
}
#page5 #top-sec #tright  #link1{
    position: absolute;
    top: 34%;
    left: 34%;
    color: #2486E2;
    font-family: 'reg';
    font-size:1.2vw;
    font-weight: 400;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}
#page5 #top-sec #tright  #link2{
    position: absolute;
    top: 34%;
    left: 55%;
    color: #2486E2;
    font-family: 'reg';
    font-size:1.2vw;
    font-weight: 400;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}











#page5 #center-sec{
    position: relative;
    height: 70vh;
    width: 100vw;

    display: flex;
    justify-content: space-between;
}
#page5 #center-sec #cleft{
    position: relative;
    height: 70vh;
    width: 50vw;

}



#page5 #center-sec #cleft img{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page5 #center-sec #cleft #logo{
    position: absolute;
    height: 10%;
    width: 60%;
    object-fit: contain;
    top: 8%;
    left: 18%;
z-index: 99;
}
#page5 #center-sec #cleft  h2{
    position: absolute;
    top: 10%;
    left: 43%;
    color: var(--black);
    font-family: 'reg';
    font-size: 4vw;
}
#page5 #center-sec #cleft  h3{
    position: absolute;
    top: 8%;
    left: 35%;
    color: var(--black);
    font-family: 'reg';
    font-size: 1.9vw;
    font-weight: 600;
}
#page5 #center-sec #cleft  h4{
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    color:var(--black);
    font-family: 'reg';
    font-size: 1.2vw;
    font-weight: 500;
    text-align: center;

}

#page5 #center-sec #cleft  #link1{
    position: absolute;
    top: 31%;
    left: 42%;
    color: #2486E2;
    font-family: 'reg';
    font-size:1.2vw;
    font-weight: 400;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}







#page5 #center-sec #cright{
    position: relative;
    height: 70vh;
    width: 50vw;


}

#page5 #center-sec #cright img{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page5 #center-sec #cright #logo{
    position: absolute;
    height: 10%;
    width: 60%;
    object-fit: contain;
    top: 8%;
    left: 18%;
z-index: 99;
}

#page5 #center-sec #cright  h3{
    position: absolute;
    text-align: center;
    top: 22%;
    left: 15%;
    width: 68%;
    color: var(--black);
    font-family: 'reg';
    font-size: 1.5vw;
    font-weight: 400;
}
#page5 #center-sec #cright  #link1{
    position: absolute;
    top: 36%;
    left: 34%;
    color: #2486E2;
    font-family: 'reg';
    font-size:1.2vw;
    font-weight: 400;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}
#page5 #center-sec #cright  #link2{
    position: absolute;
    top: 36%;
    left: 55%;
    color: #2486E2;
    font-family: 'reg';
    font-size:1.2vw;
    font-weight: 400;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}











#page5 #bottom-sec{
    position: relative;
    height: 100vh;
    width: 100vw;
 
    display: flex;
    justify-content: space-between;
}

#page5 #bottom-sec #bleft{
    position: relative;
    height: 70vh;
    width: 50vw;


}

#page5 #bottom-sec #bleft img{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page5 #bottom-sec #bleft #logo{
    position: absolute;
    height: 10%;
    width: 60%;
    object-fit: contain;
    top: 8%;
    left: 18%;
z-index: 99;
}
#page5 #bottom-sec #bleft  h3{
    position: absolute;
    top: 10%;
    left: 37%;
    color: var(--white);
    font-family: 'reg';
    font-size: 2.2vw;
}
#page5 #bottom-sec #bleft  h4{
    position: absolute;
    top: 21%;
    left: 31%;
    color: var(--white);
    font-family: 'reg';
    font-size: 1.3vw;
    font-weight: 100;
}
#page5 #bottom-sec #bleft  #link1{
    position: absolute;
    top: 33%;
    left: 37%;
    color: #2486E2;
    font-family: 'reg';
    font-size:1.2vw;
    font-weight: 400;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}
#page5 #bottom-sec #bleft  #link2{
    position: absolute;
    top: 33%;
    left: 57%;
    color: #2486E2;
    font-family: 'reg';
    font-size:1.2vw;
    font-weight: 400;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}



#page5 #bottom-sec #bright{
    position: relative;
    height: 70vh;
    width: 50vw;


}

#page5 #bottom-sec #bright img{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page5 #bottom-sec #bright #logo{
    position: absolute;
    height: 10%;
    width: 60%;
    object-fit: contain;
    top: 8%;
    left: 18%;
z-index: 99;
}

#page5 #bottom-sec #bright  h3{
    position: absolute;
    text-align: center;
    top: 22%;
    left: 15%;
    width: 68%;
    color: var(--black);
    font-family: 'reg';
    font-size: 1.5vw;
    font-weight: 400;
}
#page5 #bottom-sec #bright  #link1{
    position: absolute;
    top: 36%;
    left: 34%;
    color: #2486E2;
    font-family: 'reg';
    font-size:1.2vw;
    font-weight: 400;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}
#page5 #bottom-sec #bright  #link2{
    position: absolute;
    top: 36%;
    left: 55%;
    color: #2486E2;
    font-family: 'reg';
    font-size:1.2vw;
    font-weight: 400;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

#page6{
    height: 100vh;
    width: 88vw;
    position: relative;
    margin-left: 6%;

}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 90%;
    object-fit: cover;
  }

  #page7{
    height: 20vh;
    width: 90vw;
    margin-left: 5%;
    position: relative;
  }

  #page7 h2{
    padding-top: 50px;
    font-size: 0.8vw;
    font-family: 'reg';
    text-align: center;
    color: #7A7A7F;
    font-weight: 100;
    padding-bottom:30px;
    border-bottom: 1px solid #7a7a7f6d;
    zinde
  }

  #page8{
    height: 100vh;
    width: 100vw;
    background-color: var(--grey);
    position: relative;
  }

  .col_white_amrc { color:#6E6E73;}
  footer { width:100%; background-color:#F5F5F7; min-height:250px; padding:10px 0px 25px 0px ;}
  .pt2 { padding-top:40px ; margin-bottom:20px ;}
  footer p { font-size:10px; color:#6E6E73; padding-bottom:0px; margin-bottom:8px;}
  .mb10 { padding-bottom:15px ;}
  .footer_ul_amrc { font-family: 'reg'; margin:0px ; list-style-type:none ; font-size:11px; padding:0px 0px 10px 0px ; }
  .footer_ul_amrc li { font-family: 'reg'; padding:0px 0px 5px 0px;}
  .footer_ul_amrc li a{ font-size:11px; font-family: 'reg';  color:#6E6E73;}
  .footer_ul_amrc li a:hover{ color:#6E6E73; text-decoration:none;}
  .fleft { float:left;}
  .padding-right { padding-right:10px; }
  
  .footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
  .footer_ul2_amrc li p { display:table; }
  .footer_ul2_amrc li a:hover { text-decoration:none;}
  .footer_ul2_amrc li i { margin-top:5px;}
  
  .bottom_border { border-bottom:1px solid #323f4538; padding-bottom:20px;}
  .foote_bottom_ul_amrc {
      list-style-type:none;
      padding:0px;
      display:table;
      margin-top: 10px;
      margin-right: auto;
      margin-bottom: 10px;
      margin-left: auto;
  }
  .foote_bottom_ul_amrc li { display:inline;}
  .foote_bottom_ul_amrc li a { color:#6E6E73; margin:0 12px;}
  
  .social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
  .social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
  .social_footer_ul li a { color:#6E6E73; border:1px solid #6E6E73; padding:8px;border-radius:50%;}
  .social_footer_ul li i {  width:20px; height:20px; text-align:center;}